@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

/*SCROLLBAR START*/

/* width */
::-webkit-scrollbar 
{
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track 
{
    background: #f1f1f1; 
}
   
/* Handle */
::-webkit-scrollbar-thumb 
{
    background: #888; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
    background: #555; 
}

/*SCROLLBAR END*/

/*NAVIGATION BAR START */

#logo{
    font-size: 35px;
}

#logo a{
    color: white;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #28282B;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 70px;
    align-items: center;
    padding: 40px 30px 40px 30px;
}

#righthand{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.navlink{
    padding: 10px 20px 10px 20px;
    margin-right: 10px;
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
}


/*NAVIGATION BAR END */

/* TOP INTRODUCTION */

#top_introduction{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_car_image img{
    width: 700px;
    height: 400px;
    border-radius: 40px;
}

#about_page{
    padding: 40px;
    font-size: 20px;
    text-align: justify;
    font-style: italic;
    line-height: 40px;
    font-weight: 600;
}

/* TOP INTRODUCTION */


/* TOP CARS */

#top_car{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    align-items: center;
    justify-content: center;
}

#top_car_head{
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}

#underline{
    height: 7px;
    background-color: black;
    width: 300px;
    border-radius: 20px;
}

#card_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    
}

.car_photo{
    height: 300px;
    width: 600px;
    overflow:hidden;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 30px;
}

.car_cards{
    padding: 40px;
    margin:10px;
    border: 5px solid #28282B;
    border-radius: 30px;
    box-shadow: 10px 10px#28282B;
}

#price{
    font-size: 20px;
}

#top_buy{
    width: 100px;
}

.carinformation{
    font-size: 25px;
    background-color: #28282B;
    padding: 20px;
    margin-top: 20px;
    color: white;
    border-radius: 20px;
}

/* TOP CARS */

/* SERVICES OFFERED */

#services_offerred{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#service_head{
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}

#service_container{
    display: flex;
    margin: 30px 0px 30px 0px;
    justify-content: center;
    align-items: center;
}

.service_cards{
    width: 300px;
    padding: 25px 15px 25px 15px;
    margin: 10px 20px 10px 20px;
    font-size: 25px;
    text-align: center;
    border: 5px solid #28282B;
    border-radius: 40px;
    transition: all 0.7s ease-in-out;
}

.service_cards:hover{
    transform: scale(1.09);
    background-color: #28282B;
    color: white;
    cursor: pointer;
}

/* SERVICES OFFERED */

/* FOOTER START */

#bottom_foot
{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #28282B;
    color: white;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    /* background: url("https://wallpapercave.com/wp/wp6403111.jpg"); */

}

#pagelinks{
    display: flex;
}

#contactlinks{
    display: flex;
    padding: 30px 30px 10px 30px;
}

.social_icons{
    font-size: 40px;
    padding: 10px;
}

#indi_page{
    font-size: 20px;
    padding: 10px;
}

#indi_page a{
    color: white;
}

.categories_link{
    font-size: 20px;
    padding: 10px;
}

.categories_link a{
    color: white;
}

#pages{
    padding: 20px;
}

#category_links{
    padding:20px
}

input{
    width: 100%;
    padding: 15px;
    border-radius: 20px;
}

#newsletter{
    text-align: center;
}

button{
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}


/* FOOTER END */